:root {
  --primary-font: "Jaro", sans-serif;
  --secondary-font: "Quicksand", sans-serif;
  --primary-color: #f8b500;
  --secondary-color: #f7f7f7;
  --tertiary-color: #5c636e;
  --background-color: #393e46;
}

h1 {
  font-family: var(--primary-font);
}
h2,
h3,
p {
  font-family: var(--secondary-font);
  color: var(--background-color);
}
body {
  text-align: center;
  background-color: var(--background-color);
}

footer {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  margin-bottom: 40px;
}
footer a {
  text-decoration: none;
  color: var(--primary-color);
}
footer a:hover {
  text-decoration: underline;
  font-weight: bold;
}
footer a .social-icons {
  color: var(--secondary-color);
}

/* Home Page Styling */
.head-of-homepage h1 {
  color: var(--primary-color);
  font-size: 200px;
  line-height: 0.7;
  padding-top: 10px;
  padding-bottom: 70px;
}
.head-of-homepage h2 {
  color: var(--secondary-color);
  font-size: 80px;
}

.head-of-homepage p {
  color: var(--secondary-color);
  font-size: 20px;
}

.head-of-homepage .cat-code {
  padding-top: 50px;
  font-size: 30px;
}

.button-branding {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  border: solid 5px var(--primary-color);
  border-radius: 20px;
  font-family: var(--secondary-font);
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
  display: block;
  width: 400px;
  margin: 50px auto 75px;
}
.button-branding:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: solid 5px var(--secondary-color);
}

.body-of-work {
  background-color: var(--primary-color);
  border: solid 5px var(--secondary-color);
  padding: 50px 50px 30px 50px;
  border-radius: 20px;
  margin: 50px auto 50px auto;
}
.body-of-work h2 {
  color: var(--secondary-color);
  font-size: 40px;
}
.body-of-work a {
  background-color: var(--secondary-color);
  border: solid 3px var(--tertiary-color);
  border-radius: 15px;

  color: var(--tertiary-color);
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 600;

  padding: 10px 20px;
  display: block;
  max-width: 250px;
  margin: 30px auto;
}
.body-of-work a:hover {
  background-color: var(--secondary-color);
  border: solid 3px var(--background-color);
  color: var(--primary-color);
  font-weight: 700;
}

/* Page Styling */
.head-section {
  background-color: var(--primary-color);
  text-align: left;
  padding: 50px 80px;
  margin: 50px 50px;
}
.head-section h1 {
  font-size: 90px;
}
.head-section h2 {
  font-size: 60px;
  font-weight: bold;
  color: var(--secondary-color);
  margin-bottom: -10px;
}
.head-section h3 {
  font-size: 23px;
}
.head-section .lyv-photo {
  max-width: 400px;
  display: block;
  margin: 0px auto;
}
.head-section .head-content {
  padding-top: 50px;
}
.head-section .button-branding {
  width: 250px;
  margin: 40px 0px;
  text-align: center;
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
  border-color: var(--tertiary-color);
}
.head-section .button-branding:hover {
  background-color: var(--secondary-color);
  border-color: var(--background-color);
  color: var(--primary-color);
}
.contact-page h3 {
  color: var(--secondary-color);
}
.contact-page a {
  color: var(--background-color);
}
.contact-page a:hover {
  color: var(--secondary-color);
}

/* ALL Media Styling */

@media (max-width: 768px) {
  footer {
    margin-bottom: 25px;
    font-size: 10px;
  }

  /* Home Page Media Styling */
  .head-of-homepage {
    padding: 0 20px;
  }
  .head-of-homepage h1 {
    font-size: 85px;
    line-height: 0.7;
    padding-bottom: 30px;
  }
  .head-of-homepage h2 {
    font-size: 40px;
  }

  .head-of-homepage p {
    font-size: 15px;
  }

  .head-of-homepage .cat-code {
    padding-top: 30px;
    font-size: 20px;
  }

  .button-branding {
    font-size: 15px;
    font-weight: 700;
    padding: 10px 20px;
    width: 200px;
    margin: 30px auto 40px;
  }
  .body-of-work {
    display: block;
    margin: 30px auto;
    padding: 30px 30px 10px 30px;
    border-radius: 20px;
  }
  .body-of-work h2 {
    font-size: 25px;
  }
  .body-of-work p {
    font-size: 12px;
  }
  .body-of-work a {
    border: solid 1.5px var(--tertiary-color);
    border-radius: 10px;
    font-size: 12px;
    font-weight: 700;
  }
  .body-of-work a:hover {
    border: solid 1.5px var(--tertiary-color);
    font-weight: 700;
    font-size: 12px;
  }

  /* Page Media Styling */
  .head-section {
    text-align: center;
  }
  .head-section h1 {
    font-size: 60px;
  }
  .head-section h2 {
    font-size: 35px;
  }
  .head-section h3 {
    font-size: 20px;
  }
  .head-section p {
    font-size: 15px;
  }
  .head-section .lyv-photo {
    max-width: 300px;
    display: block;
    margin: 50px auto 20px auto;
  }
  .head-section .head-content {
    padding: 10px 50px;
    text-align: center;
  }

  .head-section .button-branding {
    margin: 25px auto;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .head-section .head-content {
    padding: 30px 50px;
    text-align: center;
  }
  .head-section .button-branding {
    margin: 25px auto;
    text-align: center;
  }
}
